.m1{
    width:300px;
    height:300px;
}
.movie_head
{
    font-size:20px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:15px;
}
.movie_head i
{
  float:right;
}
.achievement_text span
{
   color:orange;
}

#id90{
  padding:10px;
  height:800px;
  width:900px;

}

